
@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&display=swap');

.ga-maamli-regular {
    font-family: "Ga Maamli", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.card{
    
}